build*/*
customrc
*.sw?
.repo/
.project
meta-openbmc-bsp/meta-ibm/meta-fsp2-ibm-internal/
meta-openbmc-bsp/meta-ibm/meta-fsp2-ibm-internal*/*
meta-openbmc-bsp/meta-ibm/meta-fsp2-ibm-internal/
meta-openbmc-bsp/meta-ibm/meta-fsp2-ibm-internal

