MACHINE ??= "fsp2"
DISTRO ?= "openbmc-phosphor"
PACKAGE_CLASSES ?= "package_rpm"
SANITY_TESTED_DISTROS_append ?= " *"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
CONF_VERSION = "1"
INHERIT += "extrausers"
BB_NUMBER_THREADS = '32'
PARALLEL_MAKE = '-j 32'

################ kernel ############################################
IMAGE_INSTALL_append = "kernel-image-zimage kernel-dev kernel-vmlinux kernel-devicetree  fsp-headerfiles fsp-headerfiles-dev images "

################ Drivers ############################################
##1 fsptrace ######
IMAGE_INSTALL_append = "fsptrace "

##2 PSI ######
IMAGE_INSTALL_append +="psi"

##3 IBM utils ######
IMAGE_INSTALL_append +="ibmutils"

##4 DMA ######
IMAGE_INSTALL_append +="basedma"
IMAGE_INSTALL_append +="hostdma"
IMAGE_INSTALL_append +="memdma"

##5 IOMUX ######
IMAGE_INSTALL_append +="iomux"

##6 Jtag ######
IMAGE_INSTALL_append +="jtag"

##7 ngfsi ######
IMAGE_INSTALL_append +="ngfsi"

##8 scanfsi ######
IMAGE_INSTALL_append +="scanfsi"

##9 scomfsi ######
IMAGE_INSTALL_append +="scomfsi"

##10 sfc ######
IMAGE_INSTALL_append +="sfc"

##11 scratchpad ######
IMAGE_INSTALL_append +="scratchpad"

##12 mbx ######
IMAGE_INSTALL_append +="mbx"

##13 iic ######
IMAGE_INSTALL_append +="iic"

##14 dra ######
IMAGE_INSTALL_append +="dra"

##15 dra ######
IMAGE_INSTALL_append +="ibmuart"

##16 Gpio ######
IMAGE_INSTALL_append +="gpio"

##17 sbefifo ######
IMAGE_INSTALL_append +="sbefifo"

################ ADALS ############################################

## ADAL Header files ######
IMAGE_INSTALL_append += "adal-headerfiles adal-headerfiles-dev "

## 1 fsptrace ######
IMAGE_INSTALL_append +="fsptrace-adal fsptrace-adal-staticdev fsptrace-adal-dev fsptrace-adal-dbg "
IMAGE_INSTALL_append +="libtrex libtrex-dev libtrex-dbg "

##2 SCAN ######
IMAGE_INSTALL_append += "scan-adal scan-adal-dev scan-adal-dbg "

##3 SCOM ######
IMAGE_INSTALL_append += "scom-adal scom-adal-dev scom-adal-dbg "

##4 BASE ######
IMAGE_INSTALL_append += "base-adal base-adal-dev base-adal-dbg "

##5 FSI ######
IMAGE_INSTALL_append += "fsi-adal fsi-adal-dev fsi-adal-dbg  "

##6 IOMUX ######
IMAGE_INSTALL_append += "iomux-adal iomux-adal-dev iomux-adal-dev "

##7 dd-ddfc ######
IMAGE_INSTALL_append += "dd-ffdc-adal dd-ffdc-adal-dev dd-ffdc-adal-dbg "

##8 PSI ######
IMAGE_INSTALL_append += "psi-adal psi-adal-dev psi-adal-dbg "

##9 IIC ######
IMAGE_INSTALL_append += "iic-master-adal iic-master-adal-dev iic-master-adal-dbg "
IMAGE_INSTALL_append += "iic-slave-adal iic-slave-adal-dev iic-slave-adal-dbg "

##10 mbx ######
IMAGE_INSTALL_append += "mbx-adal mbx-adal-dev mbx-adal-dbg "

##11 PCI ######
IMAGE_INSTALL_append += "pci-adal pci-adal-dev pci-adal-dbg "

##12 RTC ######
IMAGE_INSTALL_append += "rtc-adal rtc-adal-dev rtc-adal-dbg "

##13 Scratchpad ######
IMAGE_INSTALL_append += "scratchpad-adal scratchpad-adal-dev scratchpad-adal-dbg "

##14 Tone ######
IMAGE_INSTALL_append += "tone-adal tone-adal-dev tone-adal-dbg "

##15 SFC ######
IMAGE_INSTALL_append += "sfc-adal sfc-adal-dev sfc-adal-dbg "

##16 Hostdma ######
IMAGE_INSTALL_append += "hostdma-adal hostdma-adal-dev hostdma-adal-dbg "

##17 UART ######
IMAGE_INSTALL_append += "uart-adal uart-adal-dev uart-adal-dbg "

##18 JTAG ######
IMAGE_INSTALL_append += "jtag-adal jtag-adal-dev jtag-adal-dbg "

##19 GPIO ######
IMAGE_INSTALL_append += "gpio-adal gpio-adal-dev gpio-adal-dbg  "

##20 GPIO ######
IMAGE_INSTALL_append += "lua-bbutils-adal lua-bbutils-adal-dev lua-bbutils-adal-dbg "

##21 PCI ######
IMAGE_INSTALL_append += "pci-adal pci-adal-dev pci-adal-dbg "

##22 SBEFIFO ######
IMAGE_INSTALL_append += "sbefifo-adal sbefifo-adal-dev sbefifo-adal-dbg "


## PSCN/FLD Libraries AND BINARIES ######

IMAGE_INSTALL_append += "apps-headerfiles  apps-headerfiles-dev "

IMAGE_INSTALL_append += " additional-rootfs "

IMAGE_INSTALL_append += " ppcdbg ppcdbg-dev ppcdbg-dbg"

IMAGE_INSTALL_append += " fpart "

IMAGE_INSTALL_append += " fcp "

IMAGE_INSTALL_append += " aeea aeea-dev aeea-dbg "

IMAGE_INSTALL_append += " fld-libs fld-libs-dev fld-libs-dbg "

IMAGE_INSTALL_append += " dbgx dbgx-dev dbgx-dbg "

IMAGE_INSTALL_append += " clib clib-dev clib-dbg "

IMAGE_INSTALL_append += " ffs ffs-dev ffs-dbg "

IMAGE_INSTALL_append += " spinor spinor-dev spinor-dbg "

IMAGE_INSTALL_append += " ffsfs ffsfs-dev ffsfs-dbg "

IMAGE_INSTALL_append += " bootenvfld bootenvfld-dev bootenvfld-dbg "

IMAGE_INSTALL_append += " dra-tool dra-tool-dev dra-tool-dbg "

IMAGE_INSTALL_append += " fsp-trace fsp-trace-dev fsp-trace-dbg "

IMAGE_INSTALL_append += " tiny-kmsglogd "

IMAGE_INSTALL_append += " tiny-syslogd tiny-syslogd-dbg "

IMAGE_INSTALL_append += " registry registry-dev registry-dbg "

#IMAGE_INSTALL_append += " kwd kwd-dev kwd-dbg "

IMAGE_INSTALL_append += " iomuxtool iomuxtool-dev iomuxtool-dbg "

################ openBMC packages ############################################

IMAGE_INSTALL_append += " zeromq zeromq-dev "

IMAGE_INSTALL_append += " grpc grpc-dev "

IMAGE_INSTALL_append += " sqlite3 "

IMAGE_INSTALL_append += " fuse fuse-dev "

IMAGE_INSTALL_append += " libtirpc libtirpc-dev "

IMAGE_INSTALL_append += "rpcbind rpcbind-dev "

IMAGE_INSTALL_append = " kernel-modules "

EXTRA_IMAGE_FEATURES += " tools-debug"

IMAGE_INSTALL_append +=" libatomic procps "

IMAGE_INSTALL_append += " trace-collect "

IMAGE_INSTALL_append += " libstdc++ "

IMAGE_INSTALL_append += " kmod rpm "

IMAGE_INSTALL_append += " makedumpfile makedumpfile-dev "

IMAGE_INSTALL_append += " openldap openldap-dev lua acl   "

IMAGE_INSTALL_append += " libidn gmp nettle libcap "

IMAGE_INSTALL_append += " libgpg-error libgcrypt  "

IMAGE_INSTALL_append += " libpam pam-plugin-succeed-if pam-plugin-access "

IMAGE_INSTALL_append += " net-snmp net-snmp-dev "

IMAGE_INSTALL_append += "openssh openssh-dev "

IMAGE_INSTALL_append += "util-linux util-linux-dev "

IMAGE_INSTALL_append += " tcpdump tcpdump-dev "

IMAGE_INSTALL_append += " pciutils pciutils-dev "

IMAGE_INSTALL_append += "net-tools net-tools-dev "

IMAGE_INSTALL_append += "krb5 krb5-dev "

IMAGE_INSTALL_append += "xz xz-dev "

IMAGE_INSTALL_append += "lua lua-dev "

IMAGE_INSTALL_append += "libbz2 "

IMAGE_INSTALL_append += "elfutils elfutils-dev "

IMAGE_INSTALL_append += "libcap-ng libcap-ng-dev "

IMAGE_INSTALL_append += "libxml2 liburcu "

IMAGE_INSTALL_append += "audit "

IMAGE_INSTALL_append += "ifenslave ethtool kexec-tools "

IMAGE_INSTALL_append += "udev "

IMAGE_INSTALL_append += "trace-cmd "
